@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;700&family=Sriracha&display=swap');
body{
	margin:0;
	font-family: 'Sriracha', sans-serif;
}

*{
	box-sizing: border-box;
	margin: 0;
}

.container{
	max-width: 800px;
	margin: auto;
}

.row{

	display: flex;
	flex-wrap: wrap;
}

header .row{
	justify-content: space-between;
	align-items: center;
}
header{
	position: absolute;
	left: 0px;
	right: 0px;
	padding: 0px 15px;
}

header .brand-name a{
	text-decoration: none;
	font-size: 22px;
	font-weight: 600;
	color:#000000;
	text-transform: uppercase;
	position: relative;
}


header .navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

header .navbar li{
	display: inline-block;
	margin-left: 35px;
}

header .navbar ul li a , .brand-name a{

	text-decoration: none;
	line-height: 73px;
	font-weight: 600;
	color: 	#000000;

  	background-image: linear-gradient(white, black);
  	background-size: 0 5px, auto;
  	background-repeat: no-repeat;
  	background-position: center bottom;
  	transition: all .2s ease-out;
}

header .navbar ul li a:hover, .brand-name a:hover{
	background-size: 100% 5px, auto;
}

.home{
	min-height:100vh;
	background-image: url("images/stanleypark.JPG");
	background-size: cover;
	background-position: center;
}